export(findMotif,
       summaryMotif, plotMotif, 
       motifLatexTable,
       motifHtmlTable, 
       refinePWMMotif,
       refinePWMMotifExtend)

import(IRanges)
import(XVector)
import(Biostrings)
import(grid)
import(seqLogo)
import(parallel)

